{
  "extension": [".js"],
  "include": [
    "src/**/*.js"
  ],
  "exclude": ["**/**/*.mjs", "src/*.js", "src/core/config/"],
  "reporter": [ "text", "html" ],
  "all": true,
  "watermarks": {
    "lines": [90, 75],
    "functions": [90, 0],
    "branches": [90, 75],
    "statements": [90, 0]
  }
}
